{
"rewriteProperties":"yes",
"liveHIT":"yes",
"title":"Language and Picture Game",
"description":"Look at Images and Answer Questions",
"nameofexperimentfiles":"tracking",
"experimentURL":"https://stanford.edu/~mhahn2/experiments/visualattention/1-sandbox/tracking.html",
"keywords":"language research stanford fun cognitive science university",
"USonly?":"yes",
"minPercentPreviousHITsApproved":"95",
"frameheight":"650",
"reward":"1.5",
"numberofassignments":"9",
"assignmentduration":"7000",
"hitlifetime":"2592000",
"autoapprovaldelay":"60000",
"conditions":"cond"
}
